body {
    border: 0;
    background-color: white;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;


}

canvas {
    display: block;
}